<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>759849901744-v3fsoqc6ijsljbtjb5ol22i67eti6h2g.apps.googleusercontent.com</string>
	<key>CLIENT_ID</key>
	<string>759849901744-v3fsoqc6ijsljbtjb5ol22i67eti6h2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759849901744-v3fsoqc6ijsljbtjb5ol22i67eti6h2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAJlY_XWWDV5tIUkFBznxtSa237Dn2Lcz8</string>
	<key>GCM_SENDER_ID</key>
	<string>759849901744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.hc.instaclone</string>
	<key>PROJECT_ID</key>
	<string>test-f543c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-f543c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:759849901744:ios:3b46e6768f7f6591e92575</string>
</dict>
</plist>
